body {
    margin: 0;
    font-family: Arial;
}

:root {
    --primary: #d40000;
}

header {
    background: var(--primary);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    padding: 30px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

footer {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 10px;
}
