body {
    margin: 0;
    font-family: Arial;
}

:root {
    --primary: #d40000;
}

header {
    background: var(--primary);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

.paket {
    display: flex;
    gap: 20px;
}

.item {
    flex: 1;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 10px;
}
